body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  width: 300px;
  margin: auto;
  text-align: center;
}

.login h3{
  text-align: center;
  margin: 40px 20px;
}


.signup {
  width: 300px;
  margin: auto;
  text-align: center;
}

.signup h3{
  text-align: center;
  margin: 40px 20px;
}

.signup-link {
  margin-left: 50px;
}

.login-link {
  margin-left: 50px;
}

.home a {
  color: black;
}

.home nav {
  justify-content: space-around;
}

.home .body {
  text-shadow: 0.1em 0.1em 0.2em black;
  width: 50%;
  margin: 50px auto;
}

.carousel-item a {
  color: white;
  text-decoration: none;
}

.carousel-item a:hover {
	text-decoration: none; 
}

.info a {
  color: black;
}

.info nav {
  justify-content: space-around;
}

.info .body {
  color: black;
  width: 50%;
  margin: 50px auto;
}

.info a {
  text-decoration: none;
}

.info a:hover {
  text-decoration: none;
}

.info-body {
  display: flex;
}

.info-body div{
  margin-right: 50px;
}

.button-favorite {
  width: 100%;
}