body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.background {
  background-image: url('/img/code.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  opacity: 0.3;
  z-index: -1;
}

#root {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}

.App {
  position:fixed!important;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
  z-index: 2;
}

.login {
  width: 300px;
  margin: auto;
  text-align: center;
}

.login h3{
  text-align: center;
  margin: 40px 20px;
}

.btn-default {
  border: solid;
  color: #fff;
  background-color: #ff6a00;
  border-color: #ff6a00;
  border-radius: 1rem;
  padding: 3px 16px;
  box-shadow: 0 4px 8px 0 rgba(239, 122, 39, 0.63), 0 6px 20px 0 rgba(255, 105, 0, 0.37)
}

.signup {
  width: 300px;
  margin: auto;
  text-align: center;
}

.signup h3{
  text-align: center;
  margin: 40px 20px;
}

.link-default {
  margin-left: 50px;
  border: 1px solid;
  border-color: #ff6a00;
  border-radius: 1rem;
  padding: 7px 16px;
}

.link-default:hover {
  color: #ff6a00;
}

.input-default {
  border-radius: 1rem!important;
  text-align: center;
}

.burger-header {
  width: 25px;
  height: 23px;
  filter: opacity(0.5);
}

.burger-header {
  width: 25px!important;
  height: 23px!important;
  filter: opacity(0.5);
}

.search-header {
  width: 33px!important;
  height: 35px!important;
  filter: opacity(0.5);
}

.input-filter {
  border-radius: 1rem!important;
  height: 30px;
  width: 150px;
}

.input-filter:disabled {
  border-radius: 1rem!important;
  height: 30px;
  width: 150px;
}

.header-burger {
  width: 150px;
}


.dropdown-toggle::after {
  content: none!important;
}

.btn-link:hover {
  text-decoration: none!important;
}

.login-link {
  margin-left: 50px;
}

.App a {
  color: black;
}

.App nav {
  justify-content: space-around;
}

.App a:hover {
  text-decoration: none;
}

.home .body {
  width: 50%;
  margin: 50px auto;
}

.carousel-item a {
  color: white;
  text-decoration: none;
}

.carousel-item a:hover {
	text-decoration: none; 
}

.info .body {
  color: black;
  width: 50%;
  margin: 50px auto;
}

.info-body {
  display: flex;
}

.info-body div{
  margin-right: 50px;
}

.button-favorite {
  width: 100%;
}

.favorite table {
  text-align: center;
  margin: 30px auto;
  width: 80%;
}

.favorite td {
  vertical-align: middle!important;
}

.favorite img {
  height: 70px;
}

.favorite-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .home .body {
    width: 80%;
  }

  .info .body {
    width: 80%;
  }

  .favorite-desktop {
    display: none;
  }

  .favorite-mobile {
    display: block;
  }

  .input-filter {
    display: none;
  }

  .header-burger {
    width: 50px!important;
  }

  .input-filter:disabled {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .home .body {
    width: 100%;
  }

  .info .body {
    width: 100%;
  }

  .favorite table {
    width: 100%;
  }
}


.carousel-indicators {
  bottom: -55px!important;
}

.carousel-indicators li {
  background-color: #444546!important;
}

.carousel-control-next-icon {
  width: 40px!important;
  height: 40px!important;
  background-image: url('/img/arrowr.png')!important;
}

.carousel-control-prev-icon {
  width: 40px!important;
  height: 40px!important;
  background-image: url('/img/arrowl.png')!important;
}

.carousel {
  -webkit-box-shadow: 9px 14px 38px -13px rgba(0,0,0,0.75)!important;
  -moz-box-shadow: 9px 14px 38px -13px rgba(0,0,0,0.75)!important;
  box-shadow: 9px 14px 38px -13px rgba(0,0,0,0.75)!important;
}

.carousel-caption {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  color: #1d2124!important;
}

.carousel-item {
  padding-bottom: 140px!important;
}